
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    background-color: #fff;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p {
    line-height: 20px;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #444;
    font-size: 45px;
    margin-bottom: 20px;
}
h2 {
    font-weight: 300;
    color: #444;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    font-size: 30px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h4 {
    font-size: 24px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h5 {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #F08080;
}
strong {
    font-weight: bold;
}
.clear {
    clear: both;
}
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 1100px;
}

header {
    height: 120px;
}
header h1 {
    float: left;
    margin-top: 32px;
    margin-bottom: 32px;
}
header h1 .color {
    color: #F08080;
}
header nav {
    float: right;
    margin-bottom: 32px;
}
header nav ul li {
    float: left;
    display: inline-block;
    margin-top: 50px;
}
header nav ul li a {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}

footer {
    padding: 60px 0;
    background-color: #f8fafa;
}
#footer-info {
    width: 380px;
    float: left;
    margin-top: 10px;
}
#footer-links {
    width: 520px;
    float: right;
}
#footer-links ul {
    width: 150px;
    float: left;
    margin-left: 20px;
}
#footer-links ul li {
    margin: 10px 0;
}
/*style for the map route page*/

#right-panel {
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select,
#right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 600px;
}

#right-panel i {
    font-size: 12px;
}


#map {
    float: left;
    width: 1000px;
    height: 650px;
}

#right-panel {
    float: right;
    width: 430px;
    height: 650px;
}

.panel {
    height: 50%;
    overflow: auto;
}

.flex-container {
    display: flex;
    margin: 0 auto;
    padding: 0 10px;
    width: 1450px;
}
